{% extends "base.html" %}


{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <article>
          <h1 class="text-center">Mobile Compatibility</h1>
          <div class="text">This page lists the mobile compatibiliy ratings in a number between 5 (best) and 0 (worst) to name the mobile compatibility of the apps:
            <ul> 
            <li>5 = perfect - nothing left to be done </li>
            <li>4 = almost perfect, works fine with tweaks for scaling, like `scale-to-fit´ on Phosh</li>
            <li>3 = some parts of the app are not usable with touch input on small screens</li>
            <li>2 = many parts of the app are not usable with touch input on small screens</li>
            <li>1 = app is unusable with touch input on small screens – why is this app in the LINMOBapps app list?</li>
          </ul>  
          </div>
          <div class="card-list">
				    {% for term in terms %}
            <div class="card">
              <div class="card-body">
                <h2 class="h3"><a class="stretched-link text-body" href="{{ term.permalink | safe }}">{{ term.name }}</a></h2>
              </div>
            </div>
            {% endfor %}
			    </div>
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


