{% extends "page.html" %}

{% block body %}
  {% set page_class = "apps single" %}
{% endblock body %}

{% block header %}
  {# This value is matched by the config.extra.menu.main~url #}
  {% set current_section = "apps" %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row flex-xl-nowrap">
	  {{ macros_sidebar::docs_sidebar(current_section=current_section) }}
	  {{ macros_toc::docs_toc(page=page) }}
      <main class="docs-content col-lg-11 col-xl-9">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.extra.summary }}</p>
        {% if page.extra.description %}
        <h2>Description</h2>
        <p>{{ page.extra.description }}</p>
        {% endif %}
        {% if page.extra.app_id %}
        <p>If you're lucky, you can install this app by just hitting this button:</p>
        <a href="appstream://{{ page.extra.app_id }}" class="btn btn-primary btn-lg">Install</a>
        {% endif %}
        <h3>Links:</h3>
        <ul>
          <li>
            <a href="{{ page.extra.repository }}">Repository</a>
          </li>
          {% if page.extra.homepage %}
          <li>
            <a href="{{ page.extra.homepage }}">Homepage</a>
          </li>
          {% endif %}
          {% if page.extra.bugtracker %}
          <li>
            <a href="{{ page.extra.bugtracker }}">Bugtracker</a>
          </li>
          {% endif %}
          {% if page.extra.translate %}
          <li>
            <a href="{{ page.extra.translate }}">Help with Translations</a>
          </li>
          {% endif %}
        </ul>
        <h2>More info:</h2>
        {% if page.taxonomies.mobile_compatibilities %}
          <p>
            <strong>Mobile Compatibility:</strong> 
            {% for mobile_compatibility in page.taxonomies.mobile_compatibilities %}
              <a href="{{ get_taxonomy_url(kind="mobile_compatibilities", name=mobile_compatibility) }}">{{ mobile_compatibility }}</a>
            {% endfor %}</p>
        {% endif %}
        
        <p>
          <strong>Licenses:</strong> 
          
          <ul>
            {% if page.taxonomies.project_licenses %}{% for project_license in page.taxonomies.project_licenses %}
            <li>Project license:
              <a href="{{ get_taxonomy_url(kind="project_licenses", name=project_license) }}">{{ project_license }}</a>
            </li>
          {% endfor %}{% endif %}
          {% if page.taxonomies.metadata_licenses %}{% for metadata_license in page.taxonomies.metadata_licenses %}
          <li>Metadata license: 
            <a href="{{ get_taxonomy_url(kind="metadata_licenses", name=metadata_license) }}">{{ metadata_license }}</a>
          </li>
        {% endfor %}{% endif %}

        </ul></p>
        {% if page.taxonomies.frameworks %}
          <p>
            <strong>Frameworks:</strong> 
            <ul>
              {% for framework in page.taxonomies.frameworks %}
                <li>
                  <a href="{{ get_taxonomy_url(kind="frameworks", name=framework) }}">{{ framework }}</a>
                </li>
              {% endfor %}
            </ul>
          </p>
        {% endif %}
        {% if page.taxonomies.backends %}
          <p>
            <strong>Backend:</strong> 
            <ul>
              {% for backend in page.taxonomies.backends %}
                <li>
                  <a href="{{ get_taxonomy_url(kind="backends", name=backend) }}">{{ backend }}</a>
                </li>
              {% endfor %}
            </ul>
          </p>
        {% endif %}
        {% if page.taxonomies.services %}
        <p>
          <strong>Service:</strong> 
          <ul>
            {% for service in page.taxonomies.services %}
              <li>
                <a href="{{ get_taxonomy_url(kind="services", name=service) }}">{{ service }}</a>
              </li>
            {% endfor %}
          </ul>
        </p>
        {% endif %}
        {% if page.taxonomies.categories %}
          <p>
            <strong>Category:</strong>
            <ul>
              {% for category in page.taxonomies.categories %}
              <li>
                <a href="{{ get_taxonomy_url(kind="categories", name=category) }}">{{ category }}</a>
              </li>
              {% endfor %}
            </ul>
          </p>
        {% endif %}
        {% if page.taxonomies.freedesktop_categories %}
          <p>
            <strong>FreeDesktop-(Sub-)Categories:</strong> 
            <ul>
              {% for freedesktop_category in page.taxonomies.freedesktop_categories %}
              <li>
                <a href="{{ get_taxonomy_url(kind="freedesktop_categories", name=freedesktop_category) }}">{{ freedesktop_category }}</a>
              </li>
              {% endfor %}
            </ul>
          </p>
        {% endif %}
        {% if page.extra.appstream_xml_url %}
          <p>
            <strong>AppStream Metadata URL:</strong> 
            <ul>
              <li>
                <a href="{{ page.extra.appstream_xml_url }}">{{ page.extra.appstream_xml_url }}</a>
              </li>
            </ul>
          </p>
        {% endif %}
        
        <h2>Packaging</h2>
        
        {% if page.extra.flathub %}
        <ul>
          <li>
            <a href="{{ page.extra.flathub }}">Flathub</a>
          </li>
        </ul>
        {% endif %}
        {% if page.extra.flatpak_json_url %}
        <ul>
          <li>
            <a href="{{ page.extra.flatpak_json_url }}">flatpak.json</a>
          </li>
        </ul>
        {% endif %}
        <h3>Repology Status</h3>
        <a href="https://repology.org/project/{% if page.extra.repology %}{{ page.extra.repology }}{% else %}{{ page.title | lower }}{% endif %}/versions">
          <img src="https://repology.org/badge/vertical-allrepos/{% if page.extra.repology %}{{ page.extra.repology }}{% else %}{{ page.title | lower }}{% endif %}.svg" alt="Packaging status">
        </a>
        {% if page.extra.lead %}<p class="lead ">{{ page.extra.lead | safe }}</p>{% endif %}
        {{ page.content | safe }}
        {% if config.extra.edit_page %}
          {{ macros_edit_page::docs_edit_page(current_path=current_path) }}
        {% endif %}
        {{ macros_navigation::docs_navigation(page=page, current_section=current_section) }}
      </main>
    </div>
  </div>
</div>
{% endblock content %}
